body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .light-theme {
    background-color: #f9f9f9;
    color: #333;
  }
  
  .dark-theme {
    background-color: #333;
    color: #f9f9f9;
  }
  
  nav {
    background: #5ba675;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    color: white;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    cursor: pointer;
  }
  
  .container {
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .category {
    background: linear-gradient(45deg, #fcb045, #fd1d1d, #833ab4);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
  }
  
  .add-button {
    background-color: #5ba675;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #4a9462;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  